/* home */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  @include tablet-only {
      height: 50px;
      align-items: center;
  }

  .logo {
    height: 20px;
    width: 100%;
    @include desktop-only {
      height: 25px;
    }
  }

}

/* restaurant */

.header_restaurant {
  width: 90%;
  height: 45px;
  justify-content: flex-start;
  align-items: center;


  .logo_restaurant {
    width: 90%;
  }
}
