.banner {
  background-image: url(../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 230px;
  background-size: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
