.explore {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;

  form {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEBEA;

    #search {
      border: none;
      background: none;
      width: 35%;
      margin-left: 10px;

      &::placeholder {
        color: black;
        font-family: 'Roboto', sans-serif;
      }
    }
  }

  .explore_content {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      height: 28%;
    }
    p {
      height: 23%;
    }
  }
}

.process {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;

  h2 {
    margin-left: 15px;
    height: 15%;
  }
  .steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 100%;
  }
}

.restaurant_list {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;

  h2 {
    height: 3%;
    margin-left: 15px;
  }
  article {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
