.loader {
  background-color: $colour-white;
  border-radius: 20px;
  opacity: 0.9;
  position: fixed;
  inset: 0;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader_disappear 2s 3s forwards;
  animation: loader_disappear 2s 3s forwards;

  p {
    font-size: 20px;
    margin-left: 10px;
  }

  /* loader */
  .loader_quart {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    position: relative;
    border-radius: 50px;
    border: 6px solid $colour-primary;

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      bottom: -6px;
      right: -6px;
      border: 6px solid transparent;
      border-top-color: $colour-secondary;
      border-radius: 50px;
      -webkit-animation: loader_spin 1s linear 0s infinite;
      animation: loader_spin 1s linear 0s infinite;
    }
  }
}

@-webkit-keyframes loader_spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader_spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes loader_disappear {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}


@keyframes loader_disappear {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.explore {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;

  @include desktop-only {
    height: 240px;
    justify-content: flex-start;
  }

  form {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEBEA;

    #search {
      border: none;
      background: none;
      width: 35%;
      margin-left: 10px;

      @include tablet-only {
        width: 17%;
      }

      @include desktop-only {
        width: 13%;
      }

      // &:focus {
      //   outline: none;
      // }

      &::-webkit-input-placeholder {
        color: $colour-black;
        font-family: 'Roboto', sans-serif;
      }

      &::-moz-placeholder {
        color: $colour-black;
        font-family: 'Roboto', sans-serif;
      }

      &:-ms-input-placeholder {
        color: $colour-black;
        font-family: 'Roboto', sans-serif;
      }

      &::-ms-input-placeholder {
        color: $colour-black;
        font-family: 'Roboto', sans-serif;
      }

      &::placeholder {
        color: $colour-black;
        font-family: 'Roboto', sans-serif;
      }

      @include tablet-only {
        font-size: 15px;
      }
    }
  }

  .explore_content {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include tablet-only {
      width: 45%;
    }

    @include desktop-only {
      width: 48%;
    }

    h2 {
      height: 28%;

      @include desktop-only {
        height: 22%;
        font-size: 24px;
      }
    }

    p {
      height: 23%;

      @include desktop-only {
        height: 22%;
        font-size: 16px;
      }
    }
  }
}

.process {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $colour-white;

  @include tablet-only {
    height: 200px;
    justify-content: flex-end;
  }

  h2 {
    margin-left: 15px;
    height: 15%;

    @include tablet-only {
      height: 10%;
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 100%;

    @include tablet-only {
      width: 95%;
      align-self: center;
      flex-direction: row;
      height: 80%;
    }
  }
}

.restaurant_list {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;

  @include tablet-only {
    height: 550px;
    justify-content: space-around;
  }

  h2 {
    height: 3%;
    margin-left: 15px;
  }

  article {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include tablet-only {
      flex-direction: row;
      flex-wrap: wrap;
      height: 82%;
      align-items: flex-start;
    }

    @include desktop-only {
      width: 95%;
      align-self: center;
    }
  }
}
