.explore {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;

  form {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEBEA;

    #search {
      border: none;
      background: none;
      width: 35%;
      margin-left: 10px;

      &::placeholder {
        color: black;
        font-family: 'Roboto', sans-serif;
      }
    }
}

  .explore_content {
    border: 1px solid green;
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}






img {
  width: 50px;
  height: 50px;
}

svg {
  width: 50px;
  height: 50px;
}
