.main_restaurant {
  position: relative;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px 0 0;
    background-color: $colour-white;
    width: 100%;
    margin-top: 202px;
    z-index: 1;

    @include desktop-only {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .restaurant_name {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      width: 100%;

      svg {
        width: 20px;
        height: 20px;
        fill: transparent;
        stroke: $colour-black;
        stroke-width: 10;
        overflow: visible;

        &:hover {
          stroke: none;
          -webkit-animation: svg_heart 0.4s linear forwards alternate;
                  animation: svg_heart 0.4s linear forwards alternate;
        }
      }

      @include tablet-only {
        width: 90%;
      }

      @include desktop-only {
        width: 73%;
      }
    }

    @-webkit-keyframes svg_heart {
      0% {
        fill: transparent;
      }

      15% {
        fill: $colour-secondary;
        fill-opacity: .2;
      }

      35% {
        fill: $colour-secondary;
        fill-opacity: .5;

      }

      55% {
        fill: $colour-primary;
        fill-opacity: .2;

      }

      75% {
        fill: $colour-primary;
        fill-opacity: .5;
      }

      100% {
        fill: url(#svg_gradient);
      }
    }

    @keyframes svg_heart {
      0% {
        fill: transparent;
      }

      15% {
        fill: $colour-secondary;
        fill-opacity: .2;
      }

      35% {
        fill: $colour-secondary;
        fill-opacity: .5;

      }

      55% {
        fill: $colour-primary;
        fill-opacity: .2;

      }

      75% {
        fill: $colour-primary;
        fill-opacity: .5;
      }

      100% {
        fill: url(#svg_gradient);
      }
    }

    .articles {
      width: 97%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop-only {
        display: flex;
        width: 90%;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
      }

      .article_restaurant {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 92%;
        margin-bottom: 30px;

        @include tablet-only {
          width: 82%;
        }

        @include desktop-only {
          width: 30%;
          align-items: center;
          justify-content: flex-start;
        }

        .animate {
          -webkit-animation: animation-name .75s cubic-bezier(.26, .53, .74, 1.48) .5s backwards;
                  animation: animation-name .75s cubic-bezier(.26, .53, .74, 1.48) .5s backwards;
        }

        .slide {
          -webkit-animation-name: animate-slide;
                  animation-name: animate-slide;
        }


        @-webkit-keyframes animate-slide {
          0% {
            opacity: 0;
            transform: translate(0, 40px);
          }

          100% {
            opacity: 1;
            transform: translate(0, 0);
          }
        }


        @keyframes animate-slide {
          0% {
            opacity: 0;
            transform: translate(0, 40px);
          }

          100% {
            opacity: 1;
            transform: translate(0, 0);
          }
        }

        .delay-13 {
          -webkit-animation-delay: 0.9s;
                  animation-delay: 0.9s;
        }

        .line {
          width: 40px;
          height: 0px;
          border-bottom: 3px solid $colour-tertiary;
          padding-top: 5px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
