.main_restaurant {
  position: relative;
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px 0 0;
    background-color: $colour-white;
    width: 100%;
    margin-top: 202px;
    z-index: 1;
    @include desktop-only {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
    .restaurant_name {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      width: 100%;
      svg {
        width: 20px;
        height: 20px;
        fill: transparent;
        stroke: black;
        stroke-width: 10;
        overflow: visible;

        &:hover {
          stroke: none;
          animation: svg_heart 0.4s linear forwards alternate;
        }
      }
      @include tablet-only {
        width: 90%;
      }
      @include desktop-only {
        width: 73%;
      }
    }

    @keyframes svg_heart {
      0% {
        fill: transparent;
      }

      15% {
        fill: #FF79DA;
        fill-opacity: .2;
      }

      35% {
        fill: #FF79DA;
        fill-opacity: .5;

      }

      55% {
        fill: #9356DC;
        fill-opacity: .2;

      }

          75% {
            fill: #9356DC;
            fill-opacity: .5;
          }

          100% {
            fill: url(#svg_gradient);
          }
        }

    .article_restaurant {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 92%;
      margin-bottom: 30px;

      @include tablet-only {
          width: 82%;
      }
      @include desktop-only {
        width: 30%;
        align-items: center;
      }
      .animate {
          animation: animation-name .75s cubic-bezier(.26, .53, .74, 1.48) .5s backwards;
        }
      .slide {
          animation-name: animate-slide;
      }


      @keyframes animate-slide {
        0% {
          opacity: 0;
          transform: translate(0, 40px);
        }
        100% {
          opacity: 1;
          transform: translate(0, 0);
        }
      }

      .delay-13 {
        animation-delay: 0.9s;
      }

      .line {
        width: 40px;
        height: 0px;
        border-bottom: 3px solid #99E2D0;
        padding-top: 5px;
        margin-bottom: 8px;
      }
    }
  }
}
