<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/45761525e6.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="text/css" href="assets/images/logo/ohmyfood@2x.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../public/css/style.css">
  <title>Ohmyfood</title>
</head>

<body>
  <div class="container">
    <header class="header_restaurant">
      <a href="../index.html"><i class="fa-solid fa-arrow-left"></i></a>
      <img class="logo logo_restaurant" src="../../assets/images/logo/ohmyfood@2x.svg" alt="logo Ohmyfood">
    </header>

    <main class="main_restaurant">
      <div class="banner delice">

      </div>

      <section class="menu">
        <div class="restaurant_name">
          <h1>Le délice des sens</h1>
          <i class="fa-regular fa-heart"></i>
          <i class="fa-solid fa-heart"></i>
        </div>
        <div class="articles">
          <article class="article_restaurant">
            <h2 class="menu_title">ENTRÉES</h2>
            <div class="line"></div>
            <div class="menu_cards">
              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Tartare de thon</h3>
                  <div class="menu_card_description">
                    <p>Assaisonné au yuzu</p>
                    <span><strong>25€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>

              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Bouchée de homard croustillant</h3>
                  <div class="menu_card_description">
                    <p>Et sa farandolle de petits légumes</p>
                    <span><strong>35€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>

              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Velouté de cèpes</h3>
                  <div class="menu_card_description">
                    <p>Aux truffes</p>
                    <span><strong>20€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>
            </div>
          </article>

          <article class="article_restaurant">
            <h2 class="menu_title">PLATS</h2>
            <div class="line"></div>
            <div class="menu_cards">
              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Poulet rôti aux herbes de provence</h3>
                  <div class="menu_card_description">
                    <p>Et sa crème de truffe</p>
                    <span><strong>40€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>

              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Langouste rôtie</h3>
                  <div class="menu_card_description">
                    <p>Et ses légumes de saison</p>
                    <span><strong>35€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>

              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Côte de boeuf angus</h3>
                  <div class="menu_card_description">
                    <p>Et sa purée de panais</p>
                    <span><strong>44€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>
            </div>
          </article>

          <article class="article_restaurant">
            <h2 class="menu_title">DESSERTS</h2>
            <div class="line"></div>
            <div class="menu_cards">
              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Farandole de desserts</h3>
                  <div class="menu_card_description">
                    <p>Du chef</p>
                    <span><strong>18€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>

              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Crème brulée</h3>
                  <div class="menu_card_description">
                    <p>Revisitée</p>
                    <span><strong>22€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>
              <div class="menu_card slide animate delay-13">
                <div class="menu_card_content">
                  <h3>Tiramisu</h3>
                  <div class="menu_card_description">
                    <p>À la noisette</p>
                    <span><strong>23€</strong></span>
                  </div>
                </div>

                <div class="check"><i class="fa-solid fa-circle-check"></i></div>
              </div>
            </div>
          </article>
        </div>
        <button class="main_button order_button">Commander</button>

      </section>

    </main>

    <footer>
      <img class="logo_footer" src="../../assets/images/logo/ohmyfood@2x.svg" alt="logo Ohmyfood">
      <div class="footer_items">

        <a href="#">
          <i class="fa-solid fa-utensils"></i>
          <p>Proposer un restaurant</p>
        </a>
        <a href="#">
          <i class="fa-solid fa-handshake-angle"></i>
          <p>Devenir partenaire</p>
        </a>
        <a href="#">
          <p>Mentions légales</p>
        </a>
        <a href="mailto:anais.meirone@live.fr">
          <p>Contact</p>
        </a>
      </div>
    </footer>

  </div>




</body>

</html>
