<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/45761525e6.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="text/css" href="assets/images/logo/ohmyfood@2x.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Ohmyfood</title>
</head>

<body>

  <div class="container">

    <div class="loader">
      <div class="loader_quart"></div>
      <p>À vos fourchettes</p>
    </div>

    <header>
      <h1><img class="logo" src="../assets/images/logo/ohmyfood@2x.svg" alt="logo Ohmyfood"></h1>
    </header>

    <main>
      <section class="explore">
        <form>
          <label for="search">
            <i class="fa-solid fa-location-dot"></i>
          </label>
          <input type="text" id="search" name="search" placeholder="Paris, Belleville">
        </form>

        <div class="explore_content">
          <h2>Réservez le menu qui vous convient</h2>
          <p>Découvrez des restaurants d'exception, séléctionnés par nos soins.</p>
          <button class="main_button">Explorer nos restaurants</button>
        </div>

      </section>

      <section class="process">
        <h2>Fonctionnement</h2>
        <div class="steps">
          <div class="steps_button">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <p>Choisissez un restaurant</p>
            <span>1</span>
          </div>
          <div class="steps_button">
            <i class="fa-solid fa-list"></i>
            <p>Composez votre menu</p>
            <span>2</span>
          </div>
          <div class="steps_button">
            <i class="fa-solid fa-store"></i>
            <p>Dégustez au restaurant</p>
            <span>3</span>
          </div>
        </div>
      </section>

      <section class="restaurant_list">
        <h2>Restaurants</h2>
        <article>
          <div class="card">
            <a href="restaurants/la_palette_du_gout.html" class="restaurant_card">
              <div class="card_img">
                <img src="../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
                  alt="restaurant la palette du goût">
                <p>Nouveau</p>
              </div>
              <div class="card_content">
                <div class="card_description">
                  <h3>La palette du goût</h3>
                  <p>Menilmontant</p>
                </div>
              </div>
            </a>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-heart"></i>
          </div>

          <div class="card">
            <a href="restaurants/la_note_enchantee.html" class="restaurant_card">
              <div class="card_img">
                <img src="../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"
                  alt="restaurant la note enchantée">
                <p>Nouveau</p>
              </div>
              <div class="card_content">
                <div class="card_description">
                  <h3>La note enchantée</h3>
                  <p>Charonne</p>
                </div>
              </div>
            </a>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-heart"></i>

          </div>

          <div class="card">
            <a href="restaurants/a_la_francaise.html" class="restaurant_card">
              <div class="card_img">
                <img src="../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
                  alt="restaurant à la française">
              </div>
              <div class="card_content">
                <div class="card_description">
                  <h3>À la française</h3>
                  <p>Cité rouge</p>
                </div>
              </div>
            </a>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-heart"></i>
          </div>

          <div class="card">
            <a href="restaurants/le_delice_des_sens.html" class="restaurant_card">
              <div class="card_img">
                <img src="../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
                  alt="restaurant le délice des sens">
              </div>
              <div class="card_content">
                <div class="card_description">
                  <h3>Le délice des sens</h3>
                  <p>Folie-Méricourt</p>
                </div>
              </div>
            </a>

            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-heart"></i>
          </div>

        </article>

      </section>
    </main>

    <footer>
      <img class="logo_footer" src="../assets/images/logo/ohmyfood@2x.svg" alt="logo Ohmyfood">
      <div class="footer_items">

        <a href="#">
          <i class="fa-solid fa-utensils"></i>
          <p>Proposer un restaurant</p>
        </a>
        <a href="#">
          <i class="fa-solid fa-handshake-angle"></i>
          <p>Devenir partenaire</p>
        </a>
        <a href="#">
          <p>Mentions légales</p>
        </a>
        <a href="mailto:anais.meirone@live.fr">
          <p>Contact</p>
        </a>
      </div>
    </footer>

  </div>

</body>

</html>
