<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/45761525e6.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="text/css" href="assets/images/logo/ohmyfood@2x.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Ohmyfood</title>
</head>
<body>

  <div class="container">
    <header>
      <h1><img class="logo" src="../assets/images/logo/ohmyfood@2x.svg" alt="logo Ohmyfood"></h1>
    </header>

    <main>
      <section class="explore">
        <form>
          <label for="search">
            <i class="fa-solid fa-location-dot"></i>
          </label>
          <input type="text" id="search" name="search" placeholder="Paris, Belleville">
        </form>

        <div class="explore_content">
          <h2>Réservez le menu qui vous convient</h2>
          <p>Découvrez des restaurants d'exception, séléctionnés par nos soins.</p>
          <button class="main_button">Explorer nos restaurants</button>
        </div>

      </section>

      <section class="process">
        <h2>Fonctionnement</h2>
        <div class="steps">
          <button class="steps_button">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <p>Choisissez un restaurant</p>
            <span>1</span>
          </button>
          <button class="steps_button">
            <i class="fa-solid fa-list"></i>
            <p>Composez votre menu</p>
            <span>2</span>
          </button>
          <button class="steps_button">
            <i class="fa-solid fa-store"></i>
            <p>Dégustez au restaurant</p>
            <span>3</span>
          </button>
        </div>
      </section>

      <section class="restaurant_list">
        <h2>Restaurants</h2>
        <article>
          <div class="card">
            <a href="restaurants/la_palette_du_gout.html" class="restaurant_card">
            <div class="card_img">
              <img src="../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
                alt="restaurant la palette du goût">
              <p>Nouveau</p>
            </div>
            <div class="card_content">
              <div class="card_description">
                <h3>La palette du goût</h3>
                <p>Menilmontant</p>
              </div>
            </div>
            </a>
            <svg class="heart_svg" viewBox="0 0 512 512">
              <path
                d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" />
              <linearGradient id="svg_gradient">
                <stop offset="0%" stop-color="#FF79DA" />
                <stop offset="100%" stop-color="#9356DC" />
              </linearGradient>
            </svg>
          </div>

          <div class="card">
            <a href="restaurants/la_note_enchantee.html" class="restaurant_card">
              <div class="card_img">
                <img src="../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg" alt="restaurant la note enchantée">
                <p>Nouveau</p>
              </div>
              <div class="card_content">
                <div class="card_description">
                  <h3>La note enchantée</h3>
                  <p>Charonne</p>
                </div>
              </div>
            </a>
            <svg viewBox="0 0 512 512">
              <path
                d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" />
              <linearGradient id="svg_gradient">
                <stop offset="0%" stop-color="#FF79DA" />
                <stop offset="100%" stop-color="#9356DC" />
              </linearGradient>
            </svg>
          </div>

          <div class="card">
            <a href="restaurants/a_la_francaise.html" class="restaurant_card">
              <div class="card_img">
                <img src="../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="restaurant à la française">
              </div>
              <div class="card_content">
                <div class="card_description">
                  <h3>A la française</h3>
                  <p>Cité rouge</p>
                </div>
              </div>
            </a>
            <svg viewBox="0 0 512 512">
              <path
                d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" />
              <linearGradient id="svg_gradient">
                <stop offset="0%" stop-color="#FF79DA" />
                <stop offset="100%" stop-color="#9356DC" />
              </linearGradient>
              </svg>
          </div>

          <div class="card">
            <a href="restaurants/le_delice_des_sens.html" class="restaurant_card">
              <div class="card_img">
                <img src="../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
                  alt="restaurant le délice des sens">
              </div>
              <div class="card_content">
                <div class="card_description">
                  <h3>Le délice des sens</h3>
                  <p>Folie-Méricourt</p>
                </div>
              </div>
            </a>


              <svg viewBox="0 0 512 512">
                <path
                d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"
                />
                <linearGradient id="svg_gradient">
                  <stop offset="0%" stop-color="#FF79DA" />
                  <stop offset="100%" stop-color="#9356DC" />
                </linearGradient>
              </svg>



          </div>

        </article>

      </section>
    </main>

    <footer>
      <img class="logo_footer" src="../assets/images/logo/ohmyfood@2x.svg" alt="logo Ohmyfood">
      <div class="footer_items">

        <a href="#">
          <i class="fa-solid fa-utensils"></i>
          <p>Proposer un restaurant</p>
        </a>
        <a href="#">
          <i class="fa-solid fa-handshake-angle"></i>
          <p>Devenir partenaire</p>
        </a>
        <a href="#">
          <p>Mentions légales</p>
        </a>
        <a href="mailto:anais.meirone@live.fr">
          <p>Contact</p>
        </a>
      </div>
    </footer>

  </div>

</body>
</html>
