$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-black: black;
$colour-white: white;
$new-color: green;
$gradient: linear-gradient(-12deg, $colour-primary, $colour-secondary);
$step-button: #9356dc33;


$breakpoints: (
  tablet: 600px,
  desktop: 992px,
);
